  <!-- Main Content -->
  <div class="container">
    <button type="button" class="btn btn-primary"><%= link_to "ADD BLOG", new_blog_path %></button>
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <hr>
        <% @blogs.each do |item| %>
        <div class="post-preview">
            <h2 class="post-title">
              <%= item.title%>
            </h2>
            <h3 class="post-subtitle">
              <%= item.body%>
            </h3>
            <%= link_to "See more....", blog_path(item.id) %>
          <p class="post-meta">
            <%= item.created_at%>
          </p>
        </div>
        <% end %>
        <hr>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.min.js"></script>