  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <% if flash[:notice] %>
              <div class="notice"><%= flash[:notice] %></div>
            <% end %>
              <div class="row">
                <div class="col-sm-2">
                  <%= link_to "EDIT BLOG",edit_blog_path, class: "btn btn-secondary" %>
                </div>
                <div class="col-sm-8">
                  <%= image_tag @blog.image_url.to_s %>
                </div>
                <div class="col-sm-2">
                  <td><%= button_to 'Destroy', @blog, class: "btn btn-secondary", :confirm => 'Are you sure?',
                                                   :method => :delete %></td>
                </div>
              </div>
            <h2 class="section-heading"><%= @blog.title%></h2>
            <p><%= @blog.body%></p>
          <p class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</p>

          <p>As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore, and this is exploration at its greatest.</p>

          <p>Placeholder text by
            <a href="http://spaceipsum.com/">Space Ipsum</a>. Photographs by
            <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>.</p>
        </div>
      </div>
    </div>
  </article>